<div th:insert="baseStructure/headerInformation :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<body>

	<div th:fragment="settingsNav" align="center" class ="container">
	
		<h1 align="center">Settings</h1>
		
		<div class="btn-group" role="group" aria-label="Basic example">
			<a class="btn btn-primary" href="/settings/manual" role="button">Manual</a>
			<a class="btn btn-primary" href="/settings/dictionary" role="button">Dictionary</a>
			<a class="btn btn-primary" href="/settings/highscoreList" role="button">Highscores</a>
			<!-- <button type="button" class="btn btn-secondary">Right</button> -->
			
		</div>
		<br></br>
			
	</div>

</body>

<div th:insert="baseStructure/footer :: footer"> </div>