<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/headerInformation :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<head>
	
	<!-- Java Script für die Tabellen Ansicht -->
	<link rel ="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	
	<script>
		$(document).ready(function() {
		    $('#tabelle_woerter').DataTable();
		} );
	</script>
	<!-- ENDE Java Script für die Tabellen Ansicht -->
	
</head>

<body>
	<div th:insert="fragments/settingsNav :: settingsNav">  </div>
	
	<!-- Tabelle -->
	<div class ="container">
	
		<h3 align="center">Available Words</h3>		
		
		
		<table id="tabelle_woerter" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Word</th>
					<th>Number of letters</th>
					<th>Language</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="wort : ${woerterListe}">
					<td th:text="${wort.wort}"></td>
					<td th:text="${wort.laenge}"></td>
					<td th:text="${wort.sprache}"></td>
				</tr>
			</tbody>
		</table>
	
	</div>
	<br>
	<br>
	
	
	<!-- Wort hinzufügen -->
	<div class="container">		
		
		<b>Add new word</b>
		
		<form method="post" action="#" th:action="@{/settings/dictionary/save}" th:object="${neuesWort}">
		
			<label>Word </label>
		    <input type="text" th:field="*{wort}" />
		       
		    <label>Language </label>
		    <input type="text" th:field="*{sprache}" />
		        
		    <input type="submit" value="add" />	   
		
		</form>
	
	</div>
	<br>
	
	
	<!-- Wort löschen -->
	<div class="container">		
		
		<b>Delete word</b>
		
		<form method="post" action="#" th:action="@{/settings/dictionary/delete}">
		
			<label>Word </label>
		    <input type="text" name="altesWort" />
		        
		    <input type="submit" value="delete" />	   
		
		</form>
	
	</div>
	
</body>

<div th:insert="baseStructure/footer :: footer"> </div>
