<div th:insert="baseStructure/headerInformation :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<body>
	<div th:insert="fragments/settingsNav :: settingsNav">  </div>
	
	<div class ="container">
	
		<h3 align="center">Available Words :</h3>		
		
		<div>
			<form>		
				Language:
				
			    	<select name="languageFilter" class="form-select" aria-label="Default select example">
			  			<option value="all">all</option>
			  			<option value="german">german</option>
			  			<option value="english">english</option>
					</select>
				
				Word length:
				
					<select name="wordLengthFilter" class="form-select" aria-label="Default select example">
						<option value="0">all</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>			
					
					<input type="submit" value="filter">
			</form>
		</div>
		<div>
			<span><b>active filter:</b></span><br>
			<span th:if="${AnzeigeFilter[0] != 'all'}"><b>lanuage:</b></span>
			<span th:if="${AnzeigeFilter[0] != 'all'}" th:text="${AnzeigeFilter[0]}"></span>			
			<span th:if="${AnzeigeFilter[1] != 'all'}"><b>word length:</b></span>
			<span th:if="${AnzeigeFilter[1] != 'all'}" th:text="${AnzeigeFilter[1]}"></span>
			
		</div>
		
		<br></br>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Wort</th>
					<th>Laenge</th>
					<th>Sprache</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="wort : ${woerterListe}">
					<td th:text="${wort.wort}"></td>
					<td th:text="${wort.laenge}"></td>
					<td th:text="${wort.sprache}"></td>
				</tr>
			</tbody>
		</table>
	
	</div>
</body>

<div th:insert="baseStructure/footer :: footer"> </div>
