<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/headerInformation :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<head>
	<link rel="stylesheet" type="text/css" href="/css/felder.css"/>
</head>
<body>
	<div class ="container" align="center">
	
		<h1>Play</h1>
		<br>
		<br>
		
		<b>Game Settings:</b>
		<div>
			<span><b>lanuage:</b></span>
			<span th:text="${gameSession.getSprache()}"></span>	
		</div>		
		
	</div>
	<br>
	<br>
	
	<!-- Spielfeld -->
	<form method="post" action='#' th:action="@{/game/play/checkWord}" th:object="${eingabeVersuch}" align="center">
	
		<div class ="container" align="center">
			
			<table>			
				
				<tr th:each="eingabeVersuchTH : ${gameSession.getSpielfeld().getEingabeVersuche()}">
					
					<td th:each="feldTH : ${eingabeVersuchTH.getBuchstabenFelder()}">	
						
						<!-- Prüfe, ob die Zeile dem aktuellen EingabeVersuch entspricht -->
						<div th:switch="${gameSession.getVersuche() == (eingabeVersuchTH.getId())}">
							
							<!-- CASE TRUE: Erstelle ein Eingabefeld, dass über th:object an den Controller übergeben wird -->
							<div th:case="${true}">
								<input class="white" type="text" maxlength="1" th:field="*{buchstabenFelder[__${feldTH.id}__].buchstabe}">							
							</div>
							
							<!-- CASE FALSE (DEFAULT): Erstelle ein deaktiviertes Eingabefeld, dass nur den bereits eingegebenen Buchstaben anzeigt -->
							<div th:case="*">
								<input th:attr="class=${feldTH.farbe}" th:disabled="true" type="text" maxlength="1" th:value="${feldTH.buchstabe}">
							</div>
								
						</div>
													
					</td>
					
				</tr>
			
			</table>		
					
		</div>
		
		<br>
		<br>
		
		<input type="submit" value="check word">
	
	</form>
	
	<!-- Test Ausgabe -->
	<div align="center"><span th:text="${gameSession.getLoesungWort}"></span></div>
	
</body>
		